trigger:
- master

pool:
  vmImage: windows-latest

steps:

# ✅ Install & activate Java 11 on Windows
- task: JavaToolInstaller@0
  inputs:
    versionSpec: '11'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'

# ✅ Verify Java
- script: |
    java -version
    mvn -version
  displayName: 'Verify Java & Maven Versions'

# ✅ Maven build
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'
